@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";
:root{
  background: #0A192F;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #64FFDA;
  --color-secondary: #112240;
  --color-accent: #8892B0;
}

*{
  font-family: "Poppins", sans-serif;
}
.input-text{
  color: black;
}
a:hover{
  color: #64FFDA;
}
#dwnldBtn:hover{
  color: #112240;
}
a.active{
  color: #64FFDA;
  border-bottom: 2px solid #53d3b6;
  padding-bottom: 5px;
}
@keyframes mysticSapphire {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
#animated-gradient {
  background: linear-gradient(270deg, #112240, #1C2A4D, #4717F6, #8892B0);
  background-size: 800% 800%;
  animation: mysticSapphire 25s ease infinite;
}

@keyframes sapphireNight {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.bg-sapphire-night {
  background: linear-gradient(270deg, #112240, #1C2A4D, #64FFDA, #8892B0);
  background-size: 800% 800%;
  animation: sapphireNight 25s ease infinite;
}